/* Color Palette */
/* Just in case for JOJI "Die For You" Color Palette */
:root {
    --air-force-blue: #5891A6ff;
    --keppel: #5EB5A2ff;
    --charcoal: #3D4558ff;
    --charcoal-2: #405568ff;
    --charcoal-3: #464B62ff;
}